body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;
}


.fejlec {
  display: flex;
  text-align: start;

  padding: 20px 40px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 10;
  width: 100%;
  height: 380px;
  background-image: url('img/pizzakep.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.fejlec .logo {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: bold;
}

.fejlec nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}











/* HERO SECTION 
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }*/
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: white;
  }
  
  .menu a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  

  /* Checkbox elrejtése */
  #kapcsolo {
    display: none;
  }
  
  /* Hamburger ikon alapból rejtve desktopon */
  .hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
  }
  
  /* ===== Mobil nézet ===== */
  @media (max-width: 768px) {
  
    /* Desktop menü eltűnik mobilon */
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      padding: 0;
    }
  
    .menu a {
      padding: 15px;
      border-bottom: 1px solid;
      margin: 0;
      display: block;
    }
  
    /* Hamburger ikon mobilon látszik */
    .hamburger {
      display: block;
    }
  
    /* Ha a checkbox be van pipálva → jelenjen meg a menü */
    #kapcsolo:checked + .hamburger + .menu {
      display: flex;
    }
  }