body {
    margin: 0;
    background: #111;
    color: #fff;
    font-family: Arial;
}

.header {
    width: 95vw;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    z-index: 10;
    background-image: url(/img/pizzakep.jpg);
    height: 60vh;
}


.logo {
    font-size: 22px;
    font-weight: bold;

}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.slash {
    color: #ccc;
}

.menu-toggle { display: none; }

.piadina {
    background: rgb(20, 20, 20);
    padding: 80px 12%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.piadina-bal {
    width: 45%;     
    text-align: right;
}

.piadina-jobb {
    width: 40%;       
    text-align: left;
}

.piadina .piadinacim{
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.piadina .tortenetunk {
    opacity: 0.7;
    font-size: 20px;
    margin-bottom: 20px;
}

.piadina .piadinaszoveg {
    line-height: 1.7;
    opacity: 0.9;
}

.menu-section {
    background: #000000;
    padding: 50px 20%;
    text-align: center;

}

.cim { 
    font-size: 26px; 
}

.cimalatt { 
    opacity: .7; margin-bottom: 20px; 
}

.piadinaszoveg { 
    line-height: 1.7; 
}

.telefon { 
    font-weight: bold; margin-top: 20px; 
}

.menu-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.specials {
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
}


.specials .title {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.specials .subtitle {
    font-size: 16px;
    color: #b5b5b5;
    margin-bottom: 50px;
}


.special-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows:
        220px
        220px
        40px
        220px
        1px;

    gap: 50px;
}

.elsopizza {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.vorosbors {
    grid-column: 3 / 4;
    grid-row: 1 / 4; 
}

.vegyes {
    grid-column: 1 / 2;
    grid-row: 3  / 5;
}

.pizza {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.eloetetl {
    grid-column: 3 / 4;
    grid-row: 4 / 6;
}

.special-grid > div {
    position: relative;
    overflow: hidden;
}

.special-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-style: italic;
    color: #fff;
    text-shadow: 0 2px 6px rgba(0,0,0,0.8);
    white-space: nowrap;
}

.special-grid div::after {

    position: absolute;
    inset: 0;
}

.info {
    width: 98vw;
    background: #000000;                  
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;                     
}

.info-column {
    width: 230px;                    
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.szeretettel{
    width: 150px;                  
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.szeretettel {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;              
    letter-spacing: 1px;

}

.probal{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;              
    letter-spacing: 1px;

}

.info-column p {
    margin: 10px 0;
    font-size: 15px;
    opacity: 0.75;                 
}

.info-column a {
    color: #fff;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}

.vonal{
    border-bottom: 1px solid #888;  
}



.footervonal{
    display: flex;
    justify-content: center;
    width: 50vw;
    border-top: 1px solid #888;  
}

.footer {
    color: #888;
    width: 94vw;
    text-align: center;
    background: #000;
    padding: 45px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.footer a {
    color: #888;
}

/* RESPONSIVE */

@media (max-width: 900px) {

    /* HEADER / HERO */
    .header {
        width: 94vw;
        height: 45vh;
        padding: 20px;
        background-size: cover;
        background-position: center;
    }

    /* PIADINA SZEKCIÓ */
    .piadina {
        padding: 60px 8%;
        gap: 30px;
    }

    .piadina-bal {
        width: 45%;
        text-align: right;
    }

    .piadina-jobb {
        width: 45%;
        text-align: left;
    }

    /* SPECIALITÁSOK – TABLET MOZAIG */
    .special-grid {
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: 220px;
        gap: 25px;
    }

    .elsopizza {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    
    .vorosbors {
        grid-column: 3 / 4;
        grid-row: 1 / 4; 
    }
    
    .vegyes {
        grid-column: 1 / 2;
        grid-row: 3  / 5;
    }
    
    .pizza {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }
    
    .eloetetl {
        grid-column: 3 / 4;
        grid-row: 4 / 6;
    }

    /* INFO */
    .info {
        flex-wrap: wrap;
        gap: 40px;
    }

    .footer
    {
        width: 94vw;
    }
}

@media (max-width: 600px) {

    .nav {
        position: absolute;
        top: 70px;
        right: 0;
        width: 94vw;
        background: rgba(0,0,0,0.85); 
        flex-direction: column;
        text-align: center;
        display: none;
        padding: 20px;
    }

    .menu-toggle:checked ~ .nav {
        display: flex;
    }

    .piadina {
        flex-direction: column;
        text-align: center;
    }

    .piadina-bal,
    .piadina-jobb {
        width: 100%;
        text-align: center;
    }

    .special-grid {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .elsopizza {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    
    .vorosbors {
        grid-column: 1 / 1;
        grid-row: 2 / 2; 
    }
    
    .vegyes {
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }
    
    .pizza {
        grid-column: 1 / 1;
        grid-row: 5 / 5;
    }
    
    .eloetetl {
        grid-column: 1 / 1;
        grid-row: 6 / 6;
    }

    .big-left,
    .tall-right,
    .small {
        height: 10vh;
    }

    .tall-right {
        grid-row: auto; 
    }
}