body {
    margin: 0;
    background: #222222;
    color: #fff;
    font-family: Arial;
}

.header {
    width: 95vw;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    z-index: 10;
    background-image: url(/img/pizzakep.jpg);
    height: 60vh;
}


.logo {
    font-size: 22px;
    font-weight: bold;

}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.slash {
    color: #ccc;
}

.menu-toggle { display: none; }

.piadina {

    padding: 80px 12%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.piadina-bal {
    width: 45%;     
    text-align: right;
}

.piadina-jobb {
    width: 40%;       
    text-align: left;
}

.menu-section {
    background: #000000;
    padding: 80px 30%;
    text-align: center;

}


.cim { 
    font-size: 26px; 
}

.cimalatt { 
    font-size: 20px; 
    margin-bottom: 20px; 
    color: #a0a0a0;
}

.menu-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.menuszoveg{
    font-size: 19px;
}

.btn {
    padding: 20px 65px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.specials {
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
}


.specials .title {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.specials .subtitle {
    font-size: 16px;
    color: #b5b5b5;
    margin-bottom: 50px;
}

.special-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows:
        220px
        220px
        40px
        220px
        3px;

    gap: 50px;
}

.elsopizza {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.vorosbors {
    grid-column: 3 / 4;
    grid-row: 1 / 4; 
}

.vegyes {
    grid-column: 1 / 2;
    grid-row: 3  / 5;
}

.pizza {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.eloetetl {
    grid-column: 3 / 4;
    grid-row: 4 / 6;
}

.special-grid > div {
    position: relative;
    overflow: hidden;
}

.special-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-style: italic;
    color: #fff;
    text-shadow: 0 2px 6px rgba(0,0,0,0.8);
    white-space: nowrap;
}

.special-grid div::after {

    position: absolute;
    inset: 0;
}

.info {
    width: 99vw;
    background: #000000;                  
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;                     
}

.info-column {
    width: 230px;                    
}

.szeretettel {
    width: 150px; 
    text-align: right;
    font-size: 20px;
}

.probald{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;              
    letter-spacing: 1px;

}

.info-column p {
    margin: 10px 0;
    font-size: 15px;               
}

.info-column a {
    color: #fff;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}

.vonal{
    border-bottom: 1px solid #888;  
}

.footervonal{
    display: flex;
    border-top: 1px solid #888;  
}

.footer {
    color: #888;
    width: 95vw;
    text-align: center;
    background: #000;
    padding:     40px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.footer a {
    color: #888;
}

/* RESPONSIVE */

@media (max-width: 1200px) {

    /* HEADER / HERO */
    .header {
        width: 90vw;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        background-size: cover;
        background-position: center;
        z-index: 10;
        background-image: url(/img/pizzakep.jpg);
        height: 60vh;
    }

    .nav {
        display: flex;
        position: absolute;
        top: 70px;
        right: 2%;
        width: 10vw;
        flex-direction: column;
        align-items: right ;
        text-align: center;
        padding: 20px;
    }

    /* PIADINA SZEKCIÓ */
    .piadina {
        padding: 20px 5%;
        text-align: center;
    }

    .piadina-bal {
        width: 45%;
        text-align: right;
    }

    .piadina-jobb {
        width: 45%;
        text-align: left;
    }

    .menu-section {
        background: #000000;
        padding: 30px 10%;
        text-align: center;
    }

    .special-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 220px;
        gap: 25px;
    }

    .elsopizza {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    
    .vorosbors {
        grid-column: 3 / 4;
        grid-row: 1 / 4; 
    }
    
    .vegyes {
        grid-column: 1 / 2;
        grid-row: 3  / 5;
    }
    
    .pizza {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }
    
    .eloetetl {
        grid-column: 3 / 4;
        grid-row: 4 / 6;
    }

    .menu-buttons {
        margin-top: 40px;
        display: flex;
        justify-content: baseline;
        gap: 20px;
    }

    /* INFO */
    .info {
        width: 98vw;
        background: #000000;                  
        padding: 70px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;                     
    }

    .footer
    {
        width: 90vw;
    }

    .footervonal{
        display: flex;
        border-top: 1px solid #888;
        width: 95vw;  
    }
}

@media (max-width: 600px) {


    .header {
        width: 81vw;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        background-size: cover;
        background-position: center;
        z-index: 10;
        background-image: url(/img/pizzakep.jpg);
        height: 60vh;
    }

    .nav {
        display: flex;
        position: absolute;
        top: 70px;
        right: 4%;
        width: 10vw;
        flex-direction: column;
        align-items: right ;
        text-align: center;
        padding: 20px;
    }

    .menu-buttons {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .menu-buttons .btn {
        width: 100%;
        max-width: 200px;
        text-align: center;
    }

    .piadina {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .piadina-bal {
        width: 90vw;    
        text-align: right;
        align-items: right;
        justify-content: right;
    }
    
    .piadina-jobb {
        width: 90vw;  
        text-align: center;
        align-items: center;
    }

    .telefon{
        width: 35vw;    
        text-align: left;
        align-items: right;
        justify-content: right;
    }



    .special-grid {
        grid-template-columns: 1fr;
        gap: 25px;

        grid-template-rows:
        30vh
        70vh
        30vh
        30vh
        30vh;
    }

    .elsopizza {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
    
    .vorosbors {
        grid-column: 1 / 1;
        grid-row: 2 / 2; 
    }
    
    .vegyes {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }
    
    .pizza {
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }
    
    .eloetetl {
        grid-column: 1 / 1;
        grid-row: 5 / 5;
    }

    .info {
        width: 97vw;
        background: #000000;                  
        display: flex;
        flex-direction: column;  
        align-items: center;
        text-align: center;         
    }
    
    .szeretettel {
        width: 90vw; 
        text-align: right;
        font-size: 25px;
    }
    
    .probald{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;              
        letter-spacing: 1px;
        text-align: left;
    
    }
    
    .info-column p  {
        margin: 1px;
        font-size: 20px; 
        text-align: left;              
    }

    .info-title {
        text-align: left;   
    }
    
    .info-column a {
        color: #fff;
        text-decoration: underline;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

    .footer
    {
        width: 81vw;
    }

    .footervonal{
        display: flex;
        border-top: 1px solid #888;
        width: 97vw;  
    }
}