body {
    margin: 0;
    background: #111;
    color: #fff;
    font-family: Arial;
}

.header {
    width: 95vw;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    z-index: 10;
    background-image: url(/img/pizzakep.jpg);
    height: 50vh;
}


.logo {
    font-size: 22px;
    font-weight: bold;

}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.slash {
    color: #ccc;
}
/* HAMBURGER  
    .hero-img {
    width: 100%;
    display: block;
} */

.menu-toggle { display: none; }

.piadina {
    background: #222;
    padding: 80px 12%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.piadina-bal {
    width: 30%;     
    text-align: right;
}

.piadina-right {
    width: 50%;       
    text-align: left;
}

.piadina .title {
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.piadina .subtitle {
    opacity: 0.7;
    font-size: 20px;
    margin-bottom: 20px;
}

.piadina .text {
    line-height: 1.7;
    opacity: 0.9;
}

.piadina, 
.menu-section {
    background: #000;
    padding: 50px 20%;
    text-align: center;
}

.title { 
    font-size: 26px; 
}

.subtitle { 
    opacity: .7; margin-bottom: 20px; 
}

.text { 
    line-height: 1.7; 
}

.phone { 
    font-weight: bold; margin-top: 20px; 
}

.menu-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
}

.specials {
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
}


.specials .title {
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.specials .subtitle {
    font-size: 16px;
    color: #b5b5b5;
    margin-bottom: 50px;
}


.special-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows:
        220px
        220px
        40px
        220px
        1px;

    gap: 50px;
}

.elsopizza {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.vorosbors {
    grid-column: 3 / 4;
    grid-row: 1 / 4; 
}

.vegyes {
    grid-column: 1 / 2;
    grid-row: 3  / 5;
}

.pizza {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

.eloetetl {
    grid-column: 3 / 4;
    grid-row: 4 / 6;
}

.special-grid > div {
    position: relative;
    overflow: hidden;
}

.special-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-title {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    font-style: italic;
    color: #fff;
    text-shadow: 0 2px 6px rgba(0,0,0,0.8);
    white-space: nowrap;
}

.special-grid div::after {

    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
}

.info {
    width: 98vw;
    background: #000;                  
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;                     
}

.info-column {
    width: 230px;                    
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.szeretettel{
    width: 150px;                  
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.szeretettel {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;              
    letter-spacing: 1px;

}

.probal{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;              
    letter-spacing: 1px;

}

.info-column p {
    margin: 10px 0;
    font-size: 15px;
    opacity: 0.75;                 
}

.info-column a {
    color: #fff;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}

.vonal{
    border-bottom: 1px solid #888;  
}

.phone {
    margin-top: 20px;
    font-weight: bold;
}


/* RESPONSIVE */

@media (max-width: 900px) {

    .piadina, 
    .menu-section {
        padding: 50px 10%;
    }

    .specials {
        padding: 50px 6%;
    }

    .special-grid {
        grid-template-columns: 2fr 1fr; 
        gap: 25px;
    }

    .big-left {
        height: 260px;
    }

    .tall-right {
        height: 380px;  
    }

    .small {
        height: 150px;  
    }
}

@media (max-width: 600px) {

    .nav {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: rgba(0,0,0,0.85); 
        flex-direction: column;
        text-align: center;
        display: none;
        padding: 20px 0;
    }

    .menu-toggle:checked ~ .nav {
        display: flex;
    }

    .piadina {
        flex-direction: column;
        text-align: center;
    }

    .piadina-left,
    .piadina-right {
        width: 100%;
        text-align: center;
    }

    .special-grid {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .big-left,
    .tall-right,
    .small {
        height: 220px;
    }

    .tall-right {
        grid-row: auto; 
    }
}

.footervonal{
    display: flex;
    justify-content: center;
    width: 50vw;
    border-top: 1px solid #888;  
}

.footer {
    color: #888;
    width: 94vw;
    text-align: center;
    background: #000;
    padding: 45px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.footer a {
    color: #888;
}